body {
    background: linear-gradient(to bottom right, #FFF9E6, #FFFFFF);
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.card-custom {
    border-radius: 20px;
    padding: 30px;
    background-color: #FFFFFF;
    width: 380px;
    min-height: 520px;
}

/* Role Button Styling */
.role-group {
    gap: 10px;
}

.role-btn {
    width: 45%;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #FFF9E6; 
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

.role-btn i {
    margin-right: 6px;
}

/* ACTIVE STATE via radio */
input[type="radio"]:checked + label {
    background-color: #F4C542; 
    color: white;
}

/* Form */
.form-control {
    border-radius: 15px;
    background-color: #FFF9E6;
}

.btn-login {
    background-color: #F4C542;
    color: white;
    border-radius: 15px;
    height: 45px;
    font-size: 17px;
}

/* Logo */
.logo-box {
    width: 55px;
    height: 55px;
    background-color: #F4C542;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto 10px;
}
